<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="timeKeepingDetail"
  aria-hidden="true">
  <div class="modal-dialog tmss-modal-md">
    <div class="modal-content tmss-modal">
      <div class="tmss-modal-header">
        <h5 class="modal-title">
          <span>{{ "Chi tiết chấm công" }}</span>
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span class="tmss-close" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-1">
          <div class="col-6">
            <tmss-text-input [text]="'Mã nhân viên'" [(ngModel)]="selectedData.EmpId" [isDisabled]="true" name="EmpCode"></tmss-text-input>
          </div>
          <div class="col-6">
            <tmss-text-input name="Position" [(ngModel)]="selectedData.Position" [isDisabled]="true" [text]="'Chức vụ'"></tmss-text-input>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-6">
            <tmss-text-input [isDisabled]="true" [(ngModel)]="selectedData.EmpName" name="EmpName" [text]="'Tên nhân viên'">
            </tmss-text-input>
          </div>
          <div class="col-6">
            <tmss-text-input name="Sex" [isDisabled]="true" [(ngModel)]="selectedData.Department" [text]="'Phòng ban'"></tmss-text-input>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-6">
            <tmss-datepicker [text]="'Ngày sinh'" [(ngModel)]="selectedData.Birthday" [isDisabled]="true" name="Birthday"></tmss-datepicker>
          </div>
          <div class="col-3">
            <tmss-combobox name="Sex" [items]="sexList" [isDisabled]="true" [(ngModel)]="selectedData.Sex" [text]="'Giới tính'"></tmss-combobox>
          </div>
          <div class="col-3">
            <tmss-combobox [text]="'Mang thai?'" [items]="statusList" [(ngModel)]="selectedData.Pregnant" [isDisabled]="true" name="Pregnant"></tmss-combobox>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-6">
            <tmss-text-input [text]="'Tổng số công'" [isDisabled]="true" name="TotalTime" [(ngModel)]="selectedData.WorkDay"></tmss-text-input>
          </div>

          <div class="col-6">
            <tmss-text-input [text]="'Lương tháng'" [isDisabled]="true" name="MonthWage" [(ngModel)]="monthWage"></tmss-text-input>
          </div>
        </div>

        <!-- <div class="ui-g-12 text-right mt-1">
          <button class="tmss-btn btn-outline-primary mr-2 mt-1">
            <i class="fa tmss-fa fa-plus"></i>
            <span class="ml-1">Thêm chi tiết</span>
          </button>
          <button class="tmss-btn btn-outline-danger mr-2 mt-1">
            <i class="fa tmss-fa fa-eraser"></i>
            <span class="ml-1">Xóa</span>
          </button>
        </div> -->
        <div class="main mt-1">
          <h6 class="card-header">{{ "Danh sách thống kê" }}</h6>

          <div class="row mt-1">
            <div class="col-12">
              <grid-table [defaultColDef]="defaultColDef" [columnDefs]="timeKeepingColDef"
                (callBackEvent)="callBackEventAddNew($event)" [rowData]="timeKeepingDetails" [showPagination]="false"
                [height]="'250px'"></grid-table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer tmss-modal-footer" style="height: 50px;">
        <!-- <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary">
          <i class="fa tmss-fa fa-save"></i>
          <span class="ml-1">{{ "Lưu" }}</span>
        </button> -->
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="export()" [disabled]="!this.selectedData?.TimeKeepingId">
          <i class="fa tmss-fa fa-file"></i>
          <span class="ml-1">Xuất danh sách nhân viên</span>
        </button>
        <button type="button" class="tmss-btn tmss-footer-btn btn-outline-danger" (click)="hide()">
          <i class="fa tmss-fa fa-times"></i>
          <span class="ml-1">{{ "Thoát" }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
