<div id="container">
  <div class="main mt-2">
    <h6 class="card-header">
      {{ "Danh sách phòng ban" }}
    </h6>

    <div class="row">
      <div class="col-12">
        <grid-table [columnDefs]="positionColumnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData"
          [showPagination]="false" (callBackEvent)="callBackEvent($event)"
          (onChangeSelection)="onChangeSelection($event)" [height]="'312px'"></grid-table>
      </div>
    </div>
    <div class="ui-g-12 text-right mt-2">
      <button class="tmss-btn btn-outline-primary mr-8 mt-1" (click)="create()">
        <i class="fa tmss-fa fa-edit"></i>
        <span class="ml-1">Thêm mới</span>
      </button>
      <button class="tmss-btn btn-outline-primary mr-8 mt-1" (click)="edit()" [disabled]="!selectedData?.Id">
        <i class="fa tmss-fa fa-edit"></i>
        <span class="ml-1">Chỉnh sửa</span>
      </button>
      <button class="tmss-btn btn-outline-danger mr-8 mt-1" (click)="delete()" [disabled]="!selectedData?.Id">
        <i class="fa tmss-fa fa-eraser"></i>
        <span class="ml-1">Hủy phòng</span>
      </button>
    </div>
  </div>
</div>
<app-create-or-edit-position #createOrEditPosition (modalSave)="onGridReady()"></app-create-or-edit-position>
