<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditPosition" aria-hidden="true" style="margin-top: 3%;">
    <div class="modal-dialog tmss-modal-sm" >
        <div class="modal-content tmss-modal">
            <div class="tmss-modal-header">
                <h6 class="modal-title">
                  <p *ngIf="!department?.Id">Thêm mới phòng ban</p>
                  <p *ngIf="department?.Id">Chỉnh sửa phòng ban</p>
                </h6>
                <button type="button" class="close" aria-label="Close" (click)="hide()">
                  <span class="tmss-close" aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mt-1">
                    <div class="col-6">
                        <tmss-text-input [text]="'Tên phòng ban'" name="department" [(ngModel)]="department.DepartmentName" ></tmss-text-input>
                    </div>
                    <div class="col-6">
                      <tmss-combobox [text]="'Trạng thái'" name="Status" [items]="statuses" [(ngModel)]="department.IsDelete" ></tmss-combobox>
                  </div>
                </div>

            <div class="ui-g-12 text-right mt-1 mr-2 mb-1">
              <button class="tmss-btn btn-outline-primary mr-2 mt-1 col-2" (click)="createOrEditEmpType()">
              <i class="fa tmss-fa fa-save"></i>
              <span class="ml-1">Lưu</span>
            </button>
              <button class="tmss-btn btn-outline-danger mr-2 mt-1 col-2" (click)="hide()">
              <i class="fa tmss-fa fa-times"></i>
              <span class="ml-1">Hủy</span>
            </button>
          </div>
        </div>
    </div>
</div>
