<div class="nav-container" *ngIf="currentUser">
  <div class="nav-header">
    <div (click)="checkNav()" class="header-icon">
      <i
        style="
          align-items: center;
          display: flex;
          justify-content: center;
          color: antiquewhite;
        "
        class="fa fa-bars"
      ></i>
    </div>
  </div>
  <nav class="main-menu" [ngStyle]="checkMenu ? { 'width.px': 250 } : ''">
    <ul>
      <li>
        <a *ngIf="currentUser.Username === 'admin'" routerLink="time-keeping">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Thống kê lương tháng </span>
        </a>
        <a *ngIf="currentUser.Username !== 'admin'" routerLink="attendance">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Chấm công </span>
        </a>
      </li>
      <li>
        <a *ngIf="currentUser.Username === 'admin'" routerLink="employee">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Nhân viên </span>
        </a>
      </li>
      <li>
        <a *ngIf="currentUser.Username === 'admin'" routerLink="position">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Phòng ban </span>
        </a>
      </li>
      <!-- <li>
        <a routerLink="problem-list">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Sự cố </span>
        </a>
      </li> -->
      <!-- <li>
        <a routerLink="price-listaa">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Bảng giá </span>
        </a>
      </li> -->

      <!-- <li>
        <a routerLink="resolve-record">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Giải quyết sự cố </span>
        </a>
      </li> -->
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
