<div id="container">
  <div class="header">
    <h6 class="card-header">
      {{ "Tìm kiếm " }}
    </h6>
    <div class="row mt-1">
      <div class="col-2">
        <tmss-text-input [text]="'Mã nhân viên'" name="EmpCode" [(ngModel)]="empInput.EmpId"></tmss-text-input>
      </div>
      <div class="col-2">
        <tmss-text-input [text]="'Tên nhân viên'" name="name" [(ngModel)]="empInput.EmpName"></tmss-text-input>
      </div>
      <div class="col-2">
        <tmss-combobox [items]="sexList" [text]="'Giới tính'" name="sex" [(ngModel)]="empInput.Sex"></tmss-combobox>
      </div>
      <div class="col-2">
        <tmss-combobox [text]="'Phòng ban'" name="department" [items]="departments" [(ngModel)]="empInput.DepartmentId"></tmss-combobox>
      </div>
      <div class="col-2">
        <tmss-combobox [items]="statusList" [text]="'Mang thai'" name="status" [(ngModel)]="empInput.Pregnant"></tmss-combobox>
      </div>
      <div class="col-2">
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="onSearch()">
          <i class="fa tmss-fa fa-search"></i>
          <span class="ml-1">Tìm kiếm</span>
        </button>
      </div>
    </div>
  </div>

  <div class="main mt-2">
    <h6 class="card-header">
      {{ "Danh sách nhân viên" }}
    </h6>

    <div class="row mt-1">
      <div class="col-12">
        <grid-table [columnDefs]="columnsDef" [defaultColDef]="defaultColDef" [rowData]="pagedRowData"
          (callBackEvent)="callBackEvent($event)" (changePaginationParams)="changePaginationParams(paginationParams)"
          [height]="'312px'" [paginationParams]="paginationParams" (onChangeSelection)="onChangeSelection($event)">
        </grid-table>
      </div>
    </div>
    <div class="ui-g-12 text-right mt-2">
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="export()" [disabled]="user.Username !== 'admin'">
        <i class="fa tmss-fa fa-file"></i>
        <span class="ml-1">Xuất danh sách nhân viên</span>
      </button>
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="add()" [disabled]="user.Username !== 'admin'">
        <i class="fa tmss-fa fa-plus"></i>
        <span class="ml-1">Thêm nhân viên</span>
      </button>
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="edit()" [disabled]="!selectedData?.Id || user.Username !== 'admin'">
        <i class="fa tmss-fa fa-edit"></i>
        <span class="ml-1">Sửa thông tin</span>
      </button>
      <button class="tmss-btn btn-outline-danger mr-2 mt-1" (click)="delete()" [disabled]="!selectedData?.Id || user.Username !== 'admin'">
        <i class="fa tmss-fa fa-eraser"></i>
        <span class="ml-1">Xóa nhân viên</span>
      </button>
    </div>
  </div>
</div>

<app-create-or-edit-employee #createOrEditEmployee [user]="user" (modalSave)="callBackEvent(params)"></app-create-or-edit-employee>
