<div id="container">
  <div class="ui-g-12 ui-md-12">
    <div class="row">
      <div class="col-8">
        <fieldset class="fieldset-border ui-g-12 mb-0 pb-0">
          <h6 class="card-header">
            {{ "Danh sách chấm công" }}
          </h6>
          <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="pagedRowData"
            (callBackEvent)="callBackEvent($event)" [showPagination]="false" [height]="'370px'">
          </grid-table>
        </fieldset>
      </div>

      <div class="col-4">
        <div class="ui-g-12 ph-0">
          <fieldset class="fieldset-border">
            <h6 class="card-header">
              {{ "Chấm công" }}
            </h6>
            <div class="row">
              <div class="col-6 pl-0">
                <tmss-text-input [text]="'Mã nhân viên'" [(ngModel)]="currentUser.Id" name="EmpCode"
                  [isDisabled]="true">
                </tmss-text-input>
              </div>
              <div class="col-6">
                <tmss-text-input [text]="'Họ và tên'" name="empName" [(ngModel)]="currentUser.EmpName"
                  [isDisabled]="true">
                </tmss-text-input>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 pl-0">
                <tmss-combobox [text]="'Giới tính'" name="Sex" [items]="sexList" [(ngModel)]="currentUser.Sex"
                  [isDisabled]="true">
                </tmss-combobox>
              </div>
              <div class="col-6">
                <tmss-combobox [items]="statusList" [text]="'Mang thai?'" name="Pregnant"
                  [(ngModel)]="currentUser.Pregnant" [isDisabled]="true">
                </tmss-combobox>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 pl-0">
                <tmss-combobox [items]="positions" [text]="'Chức vụ'" name="Position"
                  [(ngModel)]="currentUser.PositionId" [isDisabled]="true">
                </tmss-combobox>
              </div>
              <div class="col-6">
                <tmss-combobox [items]="departments" [text]="'Phòng ban'" name="Department"
                  [(ngModel)]="currentUser.DepartmentId" [isDisabled]="true">
                </tmss-combobox>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 pl-0">
                <tmss-datepicker [text]="'Ngày làm'" name="WorkDate" [isDisabled]="true" [(ngModel)]="workDate">
                </tmss-datepicker>
              </div>
              <div class="col-3">
                <button type="button" class="tmss-btn tmss-footer-btn btn-outline-green" [disabled]="!checkAttendance"
                  (click)="attendanceStart()">
                  <i class="fa tmss-fa fa-check"></i>
                  <span class="ml-1">{{ "Chấm công" }}</span>
                </button>
              </div>
              <div class="col-3">
                <button type="button" class="tmss-btn tmss-footer-btn btn-outline-green" [disabled]="checkAttendance"
                  (click)="attendanceStart()">
                  <i class="fa tmss-fa fa-check"></i>
                  <span class="ml-1">{{ "Ra về" }}</span>
                </button>
              </div>

            </div>
            <div class="row mt-2">
              <div class="col-12 mt-2">
                <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary" (click)="checkDayOff()">
                  <i class="fa tmss-fa fa-calendar"></i>
                  <span class="ml-1">{{ "Xin nghỉ phép" }}</span>
                </button>
              </div>
            </div>
          </fieldset>
        </div>

        <div *ngIf="dayOff" class="ui-g-12 ph-0">
          <fieldset class="fieldset-border">
            <h6 class="card-header">
              {{ "Xin nghỉ phép" }}
            </h6>
            <div class="ui-g-12 ui-md-12">
              <tmss-datepicker [text]="'Ngày nghỉ'" name="DayOFf" [(ngModel)]="offDate">
              </tmss-datepicker>
            </div>
            <div class="ui-g-12 ui-md-12">
              <tmss-textarea [text]="'Lý do nghỉ'" name="Note" [height]="'75px'" [(ngModel)]="note" [isRequired]="true">
              </tmss-textarea>
            </div>
            <div class="ui-g-12 ui-md-12 text-right mt-2">
              <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary" (click)="submitDayOff()">
                <i class="fa tmss-fa fa-calendar"></i>
                <span class="ml-1">{{ "Xin nghỉ" }}</span>
              </button>
              <button type="button" class="tmss-btn tmss-footer-btn btn-outline-danger" (click)="cancel()">
                <i class="fa tmss-fa fa-times"></i>
                <span class="ml-1">{{ "Hủy" }}</span>
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
