<div id="container">
  <div class="header">
    <h6 class="card-header">
      {{ "Tìm kiếm " }}
    </h6>
    <div class="row mt-1">
      <div class="col-2">
        <tmss-text-input [text]="'Mã nhân viên'" name="EmpCode" [(ngModel)]="empCode"></tmss-text-input>
      </div>
      <div class="col-2">
        <tmss-text-input [text]="'Tên nhân viên'" name="EmpName" [(ngModel)]="empName"></tmss-text-input>
      </div>
      <div class="col-2">
        <tmss-datepicker [text]="'Tháng'" name="Month" [dateInputFormat]="'MM/YYYY'" [minMode]="'month'" [(ngModel)]="month"></tmss-datepicker>
      </div>
      <div class="col-2">
        <tmss-combobox [text]="'Chức vụ'" name="position" [items]="positions" [(ngModel)]="position">
        </tmss-combobox>
      </div>
      <div class="col-2">
        <tmss-combobox [items]="departments" [text]="'Phòng ban'" name="EmpType" [(ngModel)]="department">
        </tmss-combobox>
      </div>
      <div class="col-2">
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="onGridReady()">
          <i class="fa tmss-fa fa-search"></i>
          <span class="ml-1">Tìm kiếm</span>
        </button>
      </div>
    </div>
  </div>

  <div class="main mt-2">
    <h6 class="card-header">
      {{ "Danh sách chấm công nhân viên" }}
    </h6>

    <div class="row mt-1">
      <div class="col-12">
        <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="pagedRowData"
          (onChangeSelection)="onChangeSelection($event)" (callBackEvent)="callBackEvent($event)"
          (changePaginationParams)="changePaginationParams(paginationParams)" [height]="'312px'"
          [paginationParams]="paginationParams" [frameworkComponents]="frameworkComponents">
        </grid-table>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="3rem" color="#fff" type="ball-spin-fade-rotating"></ngx-spinner>
<app-time-keeping-detail #timeKeepingDetail></app-time-keeping-detail>
