<div class="input-group" [ngClass]="className ? className : ''">
  <span class="input-group-text left-text" *ngIf="text">{{ text }}</span>
  <textarea
    type="text"
    class="form-control tmss-form-control"
    [(ngModel)]="value"
    (blur)="onBlur($event)"
    [class.required]="isRequired"
    [disabled]="isDisabled ? true : null"
    (change)="onValueChange($event)"
    rows="rows"
    [attr.placeholder]="placeholder"
    [ngStyle]="style"
  >
  </textarea>
</div>
